Options +FollowSymLinks
RewriteEngine on

Options -indexes
<FilesMatch "\.(gif|jpeg|png|ico|css|js|swf|png|svg|woff)$">

  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=172800, public, must-revalidate"
  </IfModule>
<FilesMatch "(config|db|\.htaccess|\.htpasswd)">
Order Allow,Deny
Deny from all
</FilesMatch>
<FilesMatch "(error_log|\.log)$">
Order Allow,Deny
Deny from all
</FilesMatch>
<FilesMatch "\.(php|pl|cgi|py|sh)$">
Order Deny,Allow
Deny from all
</FilesMatch>

</FilesMatch>
# Blocks some XSS attacks
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [B,QSA,L]
</IfModule>
